<h1>Create New Contact</h1>
<%= form_for :contact, :url => {:action => 'create'} do |f| %>

 <p><label for="contact_first_name">First Name:</label>
 <%= f.text_field  :first_name %></p>

 <p><label for="contact_last_name">Last Name:</label>
 <%= f.text_field  :last_name %></p>

 <p><label for="contact_address">Address:</label>
 <%= f.text_field  :address %></p>

 <p><label for="contact_city">City:</label>
 <%= f.text_field  :city %></p>

 <p><label for="contact_state">State:</label>
 <%= f.text_field :state %></p>

 <p><label for="contact_country">Country:</label>
 <%= f.text_field :country %></p>

 <p><label for="contact_phone">Phone:</label>
 <%= f.text_field :phone %></p>

 <p><label for=”contact_email”>Email:</label>
  <%= f.text_field :email %></p>

<%= f.submit "Create" %>
<% end %>
<p><%= link_to 'Back', {:action => 'index'} %></p>

